In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/dataset/terrorismData.csv')
df = pd.read_csv('/content/drive/My Drive/dataset/terrorismData.csv')

In [7]:
df.head(5)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
31,1970,1,26,United States,Mississippi,North America,West Point,33.606510,-88.650419,Bombing/Explosion,0.0,0.0,Clay County Courthouse,1/26/1970: Unknown African American assailants...,Black Nationalists,Government (General),Explosives
32,1970,1,26,United States,New York,North America,New York City,40.697132,-73.931351,Armed Assault,0.0,0.0,New York Police Officer on patrol in Forest Hills,1/26/1970: Police officer Joseph Blik was on f...,Black Nationalists,Police,Firearms
33,1970,1,27,United States,Ohio,North America,Norwalk,41.241996,-82.615241,Facility/Infrastructure Attack,0.0,0.0,Selective Service office in Norwalk Ohio,1/27/1970: Unknown perpetrators broke into the...,Left-Wing Militants,Government (General),Incendiary
34,1970,1,28,East Germany (GDR),Berlin,Eastern Europe,Berlin,52.501530,13.401851,Facility/Infrastructure Attack,NaN,NaN,Residence of President of Penal Office,NaN,Unknown,Police,Incendiary
35,1970,1,28,United States,Washington,North America,Seattle,47.610786,-122.331306,Bombing/Explosion,0.0,0.0,Temple De Hirsch,1/28/1970: Unknown perpetrators detonated an e...,White extremists,Religious Figures/Institutions,Explosives

In [33]:
df = df[(df.State == 'Jammu and Kashmir')]

pivot1 = df.groupby('City').count()['AttackType'].sort_values(ascending=False)
city = pivot1.index[0]
Attacks = pivot1.iloc[0]
print(City,Attacks)

Srinagar 351

In [37]:
df = data.copy()
df = df[(df.State == 'Jammu and Kashmir')]

pivot1 = df.groupby('City').count()['AttackType'].sort_values(ascending= False)
city = pivot1.index[0]
attacks = pivot1.values[0]
df1 = df[(df.City == city) & (df.Group != 'Unknown')]
pivot2 = df1.groupby('Group').count()['AttackType'].sort_values(ascending= False)
group = pivot2.index[0]
print(city, attacks, group)

Srinagar 657 Muslim Separatists

In [42]:
df = data.copy()
pivot3 = df.groupby('Country').count()['AttackType'].sort_values(ascending= False)
country = pivot3.index[0]
attacks = pivot3.values[0]
df1 = df[df.Country == country]
pivot4 = df1.groupby('Year').count()['AttackType'].sort_values(ascending= False)
year = pivot4.index[0]
print(country,attacks,year)

Iraq 24636 2014

In [49]:
df = data.copy()
df = df[df.Killed == df.Killed.max()]
killed = df.iloc[0].Killed
print(int(killed))

1570

In [58]:
df = data.copy()
df1 = df[df.Year > 2014]
df2 = df[df.Year == 2014]
df2 = df2[df2.Month > 5]
df3 = df[(df.Year == 2014) & (df.Month == 5) & (df.Day >= 26)]

df4 = pd.concat([df1,df2,df3]).reset_index(drop = True)

df4 = df4[(df4.Country == 'India')]
pivot1 = df4.groupby('Country').count()['AttackType'].sort_values(ascending=False)
attacks = pivot1.values[0]
pivot2 = df4.groupby('Group').count()['AttackType'].sort_values(ascending=False)
group = pivot2.index[1]
print(group, attacks)

Maoists 3336

In [4]:
df = data.copy()
red_corridor_states = ['Jharkhand', 'Odisha', 'Andhra Pradesh', 'Chhattisgarh']
red_corridor_data = df[df.State.isin(red_corridor_states)]
jammu_kashmir_data = df[df.State == 'Jammu and Kashmir']

red_corridor_data['total_casualities'] = red_corridor_data['Killed'] + red_corridor_data['Wounded']
jammu_kashmir_data['total_casualities'] = jammu_kashmir_data['Killed'] + jammu_kashmir_data['Wounded']
red_corridor_casualities = red_corridor_data['total_casualities'].sum()
jammu_kashmir_casualities = jammu_kashmir_data['total_casualities'].sum()

total_years = df['Year'].nunique()
red_corridor_frequency = int(red_corridor_casualities/total_years)
jammu_kashmir_frequency = int(jammu_kashmir_casualities/total_years)

print("Red Corridor Frequency",red_corridor_frequency, "Jammu and Kashmir Frequency",jammu_kashmir_frequency)

Red Corridor Frequency 115 Jammu and Kashmir Frequency 261

<ipython-input-4-28eced5611ee>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_corridor_data['total_casualities'] = red_corridor_data['Killed'] + red_corridor_data['Wounded']
<ipython-input-4-28eced5611ee>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jammu_kashmir_data['total_casualities'] = jammu_kashmir_data['Killed'] + jammu_kashmir_data['Wounded']